@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap");

:root {
  --red: #f94144;
  --yellow: #f9c74f;
  --blue: #577590;
}

.work {
  --color-primary: var(--red);
  --color-secondary: var(--yellow);
}

.break {
  --color-primary: var(--blue);
  --color-secondary: var(--yellow);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  text-align: center;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: var(--color-primary);
  height: 100vh;
  width: 100%;
  transition: all 0.3s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  justify-content: center;
}

h1 {
  color: var(--color-secondary);
  position: absolute;
  top: 0;
  width: 100%;
  border: 1px solid var(--color-secondary);
  padding: 10px;
}

time {
  color: var(--color-secondary);
  font-size: 150px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  time {
    font-size: 100px;
  }
}

@media only screen and (max-width: 400px) {
  time {
    font-size: 80px;
  }
}

section {
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;

  display: flex;
  justify-content: center;
}

button {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-size: 20px;
  padding: 10px 20px;
  outline: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

button:hover,
.active {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
